/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Merriweather',
        serif;
    font-family: 'Poppins',
        sans-serif;
        margin : 10px;
        border: 5px solid rgb(115, 236, 16);
        padding: 0;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        
}
.top-section, .middle-section{
    width: 1100px;
}

.header-container{
    color: white;
    padding: 30px;
    padding-bottom: 0;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(12, 11, 11);
    border-radius: 10px;
}

.title-container{
    border: 1px solid blue;
}

.watch-live{
    text-decoration: none;
    background-color: red;
    align-content: center;
    padding: 15px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.header-image{
    width: 100%;
    margin-left: 20px;
}

.middle-section{
    display: grid;
    grid-template-columns: 250px 1fr;
    border: 2px solid violet;
}
.navbar{
    border: 2px solid orange;
    display: grid;
    grid-template-columns: 200px;
    height: 350px;
    justify-items: center;

}

.upcoming-match-btn{
    height: 30px;
    width: 100px;
}
.all-group-btn{
    height: 30px;
    width: 100px;
}

.blog-btn{
    height: 30px;
    width: 100px;
}

.article-container{
    border: 2px solid cyan;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog{

}

.blog-info{

}

.blog-info img{
    width: 100%;
}

.transfer-btn{

}

.blog-time-chat{

}
footer{
    width: 100%;
    color: white;
    background-color: black;
    height: 300px;
    text-align: center;
}